<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whut.dao.ProAttributeDao">        
<resultMap id="ProductAttributeKeyResultMap" type="whut.pojo.ProductAttributeKey">
    <id column="key_id" jdbcType="INTEGER" property="keyId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="attr_name" jdbcType="VARCHAR" property="attrName" />
    <result column="name_sort" jdbcType="TINYINT" property="nameSort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
</resultMap>

 <resultMap id="ProductAttributeValueResultMap" type="whut.pojo.ProductAttributeValue">
    <id column="value_id" jdbcType="INTEGER" property="valueId" />
    <result column="attr_key_id" jdbcType="INTEGER" property="attrKeyId" />
    <result column="attr_value" jdbcType="VARCHAR" property="attrValue" />
    <result column="value_sort" jdbcType="TINYINT" property="valueSort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  
   <select id="getProductAttributeKeyList"  parameterType="hashmap" resultMap="ProductAttributeKeyResultMap">
        SELECT * FROM product_attribute_key where status = 1
        limit #{pageindex},#{pagesize}
   </select>
   
   <select id="getProductAttributeKeyByIdAndName"  parameterType="hashmap" resultMap="ProductAttributeKeyResultMap">
        SELECT * FROM product_attribute_key where status = 1
        <if test="categoryId != null">
        	and category_id = #{categoryId}
        </if>
        <if test="attrName != null">
        	and attr_name = #{attrName}
        </if>
   </select>
 
   <select id="getProductAttributeKeyByCategoryID"  parameterType="string" resultMap="ProductAttributeKeyResultMap">
        SELECT * FROM product_attribute_key where status = 1
        and category_id = #{id}
   </select>
   
   <select id="getProductAttributeValueByKeyID"  parameterType="string" resultMap="ProductAttributeValueResultMap">
        SELECT * FROM product_attribute_value where status = 1 and attr_key_id = #{id}
   </select>
   
   <select id="getProductAttributeValueByIdAndValue"  parameterType="hashmap" resultMap="ProductAttributeValueResultMap">
        SELECT * FROM product_attribute_value where status = 1
        <if test="attrKeyId != null">
        	and attr_key_id = #{attrKeyId}
        </if>
        <if test="attrValue != null">
        	and attr_value = #{attrValue}
        </if>
   </select>
   
</mapper>