<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whut.dao.ProInfoDao">
  <resultMap id="BaseResultMap" type="whut.pojo.ProductInfo">
     <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="spu" jdbcType="VARCHAR" property="spu" />
    <result column="one_category_id" jdbcType="INTEGER" property="oneCategoryId" />
    <result column="two_category_id" jdbcType="INTEGER" property="twoCategoryId" />
    <result column="three_category_id" jdbcType="INTEGER" property="threeCategoryId" />
    <result column="main_image" jdbcType="VARCHAR" property="mainImage" />
    <result column="attribute_list" jdbcType="VARCHAR" property="attributeList" />
    <result column="publish_status" jdbcType="TINYINT" property="publishStatus" />
    <result column="audit_status" jdbcType="TINYINT" property="auditStatus" />
    <result column="use_coupon" jdbcType="TINYINT" property="useCoupon" />
    <result column="discount_rate" jdbcType="INTEGER" property="discountRate" />
    <result column="production_date" jdbcType="TIMESTAMP" property="productionDate" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="input_time" jdbcType="TIMESTAMP" property="inputTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
    <select id="getList" parameterType="hashmap" resultMap="BaseResultMap">
        SELECT * FROM product_info where publish_status = 1 and audit_status = 1
        limit #{pageindex},#{pagesize}  
    </select>
    
    <select id="getDetail" parameterType="String" resultMap="BaseResultMap">
    	SELECT * FROM product_info where product_id = #{id}
    </select>
    
    <select id="getDetailByCode" parameterType="String" resultMap="BaseResultMap">
    	SELECT * FROM product_info where spu = #{id}
    </select>
       
    <select id="search" parameterType="hashmap" resultMap="BaseResultMap">
    	SELECT * FROM product_info where product_name LIKE '%${productName}%'
    	limit #{pageindex},#{pagesize}  
    </select>
    
   
    <select id="getListByCategory" parameterType="hashmap"  resultMap="BaseResultMap">
    	SELECT * FROM product_info where (one_category_id = #{oneCategoryId}
    	or two_category_id = #{twoCategoryId}
    	or three_category_id = #{threeCategoryId})
    	and publish_status = 1 and audit_status = 1
    	limit #{pageindex},#{pagesize} 
    </select>
    
</mapper>